# Python stuff
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
logs/
# Ignora tudo dentro de data, mas mantém as pastas básicas e os arquivos .gitkeep
# Permite a pasta samples para demonstração
!data/samples/
!data/samples/output/*
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep
*.xlsx

# OS stuff
.DS_Store
Thumbs.db
